body {
  padding-top: 70px;
}

.container.datails-module {
	width: auto;
}

#delete-domain {
	display: none;
}

#requests-table {
	font-size: 10px;
	font-family: Verdana;
}

#requests-table td {
	word-break: break-all;
}

#articles-list-table td p {
	margin: 0;
}

#prjects-list-table td p {
	margin: 0;
}

#formatted-textarea {
    min-height: 1000px;
    width: 100%;
}